# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# VSCode
.vscode/*
!.vscode/extensions.json
.DS_Store

# Jetbrains
.idea/

# Cmake
cmake-build*
CMakeUserPresets.json

# Binaries
*.obj
*.exp

#PDBs
*.pdb

 # SCons file signiatures
.sconsign.dblite

